@font-face {
  font-family: Gotham;
  font-weight: 300;
  src: url('../fonts/gotham/gotham_light.otf') format("opentype");
}
@font-face {
  font-family: Gotham;
  font-weight: 400;
  src: url('../fonts/gotham/gotham_book.otf') format("opentype");
}
@font-face {
  font-family: Gotham;
  font-weight: 500;
  src: url('../fonts/gotham/gotham_medium.otf') format("opentype");
}
@font-face {
  font-family: Gotham;
  font-weight: 700;
  src: url('../fonts/gotham/gotham_bold.otf') format("opentype");
}

@font-face {
  font-family: Gotham Pro;
  src: url('../fonts/gotham_pro/gothampro_medium.ttf') format("opentype");
  font-weight: 400;
}