$brand-primary: #1551E5;
$brand-hover: #316CFF;
$brand-ghost: #F2F6FF;

$black-primary: #071435;
$black-secondary: #828EAD;
$black-ghost: #F2F5F9;

$special-white: #FFF;
$special-disabled-primary: #B2BACE;
$special-disabled-secondary: #E9ECF2;
$special-background: #F0F3FC;
$special-divider: #E2E4F0;

$danger-primary: #FF3D71;
$danger-secondary: #FF608A;

$general-secondary: #8F9BB3;