@import 'vars';

.input {
  position: relative;
  width: 100%;
  font-weight: 100;
  font-size: 14px;
  line-height: 16px;
  color: $black-primary;
  border: $special-divider solid 1px;
  padding: 0 16px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;

  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;

  &.normal {
    height: 48px;
  }
  &.big {
    height: 56px;
  }
  &.danger {
    border: $danger-secondary solid 2px;
  }
}

.input:focus {
  border: $black-primary solid 2px;
  box-shadow: 0px 0px 6px 0px #BAC4E0;
}
input:focus::placeholder {
  color: transparent;
  font-weight: 100;
  font-size: 14px;
}

.input:disabled {
  border: 1px solid $special-background;
  background: $black-ghost;
  color: $special-disabled-primary;
}
.input::placeholder {
  color: $black-secondary;
}
.input.danger::placeholder {
  color: $danger-secondary;
}