<section>
  <footer>
    <hr class="horizontal">
    <div class="contacts">
      <div class="contacts-left">
        <img class="logo" src="assets/icons/Logo.svg" alt="Logo">
        <div class="contacts-left__phone"> 
          <span class="fw-700 fs-16 clr-black-primary">
            8 800 841-95-95
          </span>
          <span class="fs-12 fw-400 clr-black-secondary">
            Служба поддержки
          </span>
        </div>

        <div class="contacts-left__email">
          <span class="fw-700 fs-16 clr-black-primary">
            {{'support@sport.ru'}}
          </span>
          <span class="fs-12 fw-400 clr-black-secondary">
            Служба поддержки
          </span>
        </div>
      </div>

      <div class="contacts-right">
        <ul class="contacts-right__links">
          <li><a class="fw-700 fs-16" href="#!">Вакансии</a></li>
          <li><a class="fw-700 fs-16" href="#!">Блог</a></li>
          <li><a class="fw-700 fs-16" href="#!">Акции</a></li>
        </ul>
        <app-button style="font-weight: 500; font-size: 14px" [theme]="'lightTh'" class="suggest-btn">
          Предложить идею
        </app-button>
      </div>
    </div>

    <hr class="horizontal">
    <div class="products-categories">
      <div class="products-categories-table">
        <h5 class="products-categories-table-title">
          Женщинам
        </h5>
        <ul class="products-categories-table-list">
          <li><a href="">Одежда</a></li>
          <li><a href="">Обувь</a></li>
          <li><a href="">Аксессуары</a></li>
          <li><a href="">Белье</a></li>
          <li><a href="">Bra fitting</a></li>
        </ul>
      </div>
      <div class="products-categories-table">
        <h5 class="products-categories-table-title">
          Мужчинам
        </h5>
        <ul class="products-categories-table-list">
          <li><a href="">Одежда</a></li>
          <li><a href="">Обувь</a></li>
          <li><a href="">Аксессуары</a></li>
          <li><a href="">Белье</a></li>
        </ul>
      </div>
      <div class="products-categories-table">
        <h5 class="products-categories-table-title">
          Детям
        </h5>
        <ul class="products-categories-table-list">
          <li><a href="">Одежда</a></li>
          <li><a href="">Обувь</a></li>
          <li><a href="">Аксессуары</a></li>
          <li><a href="">Белье</a></li>
          <li><a href="">Игрушки</a></li>
          <li><a href="">Малыши</a></li>
        </ul>
      </div>
      <div class="products-categories-table">
        <h5 class="products-categories-table-title">
          Виды спорта
        </h5>
        <ul class="products-categories-table-list">
          <li><a href="">Велоспорт</a></li>
          <li><a href="">Туризм</a></li>
          <li><a href="">Тренажеры и фитнес</a></li>
          <li><a href="">Командные виды спорта</a></li>
          <li><a href="">Самокаты</a></li>
        </ul>
      </div>
    </div>

    <hr class="horizontal">
    <div class="about">
      <ul class="about-links">
        <li><a  class="about-links__item" href="#!">
          <img src="assets/icons/file.svg" alt="">
          <span class="clr-black-secondary">
            PDF  презентация
          </span>
        </a></li>
        <li><a class="about-links__item" href="#!">
          <img src="assets/icons/video.svg" alt="">
          <span class="clr-black-secondary">
            Видео инструкция 
          </span>
        </a></li>
        <li><a class="about-links__item" href="#!">
          <img src="assets/icons/info.svg" alt="">
          <span class="clr-black-secondary">
            FAQ
          </span>
        </a></li>
        <li><a class="about-links__item" href="#!">
          <img src="assets/icons/YouTube.svg" alt="">
          <span class="clr-brand-primary">
            Мы на YouTube
          </span>
        </a></li>
        <li><a class="about-links__item" href="#!">
          <span class="clr-black-secondary">
            Политика конфиденциальности 
          </span>
        </a></li>
        <li><a class="about-links__item" href="#!">
          Лицензионное соглашение
        </a></li>
      </ul>
      <p class="about-p">
        Настоящая Политика обработки персональных данных разработана в соответствии с Конституцией Российской Федерации, Трудовым кодексом Российской Федерации, Гражданским кодексом Российской Федерации, Федеральным законом от 27 июля 2006 года 149-ФЗ "Об информации, информационных технологиях и о защите информации",
      </p>

      <div class="about-bot">
        <img src="assets/icons/Logo_black_secondary.svg" alt="">
        <span class="
          clr-general-secondary
          fw-700
          fs-14  
        ">
          Разработка платформы
        </span>
      </div>
    </div>
  </footer>
</section>